Logic Apps/Password Reset Logic App/LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "callbackUriPath": {
                                        "description": "CallbackUriPath used for Resume Action",
                                        "title": "Data.CallbackUriPath",
                                        "type": "string"
                                    },
                                    "subject": {
                                        "properties": {
                                            "displayName": { "type": "string" },
                                            "email": { "type": "string" },
                                            "id": { "type": "string" },
                                            "manager": {
                                                "properties": {
                                                    "displayName": { "type": "string" },
                                                    "email": { "type": "string" },
                                                    "id": { "type": "string" }
                                                },
                                                "type": "object"
                                            },
                                            "userPrincipalName": { "type": "string" }
                                        },
                                        "type": "object"
                                    },
                                    "task": {
                                        "properties": {
                                            "displayName": { "type": "string" },
                                            "id": { "type": "string" }
                                        },
                                        "type": "object"
                                    },
                                    "taskProcessingResult": {
                                        "properties": {
                                            "createdDateTime": { "type": "string" },
                                            "id": { "type": "string" }
                                        },
                                        "type": "object"
                                    },
                                    "workflow": {
                                        "properties": {
                                            "displayName": { "type": "string" },
                                            "id": { "type": "string" },
                                            "workflowVerson": { "type": "integer" }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "source": { "type": "string" },
                            "type": { "type": "string" }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "actions": {
            "Is_Onboarding_Workflow": {
                "type": "If",
                "runAfter": {},
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@triggerBody()?['data']?['workflow']?['id']",
                                "ONBOARDING_WORKFLOW_ID_1"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Generate_Initial_Password": {
                        "type": "Compose",
                        "inputs": "@concat(toUpper(substring(guid(),0,1)),substring(guid(),1,5),'!',string(rand(10,99)),substring(guid(),6,3))",
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [ "inputs" ]
                            }
                        }
                    },
                    "Save_Reset_Timestamp": {
                        "runAfter": {
                            "Generate_Initial_Password": [ "Succeeded" ]
                        },
                        "type": "Compose",
                        "inputs": "@utcNow()"
                    },
                    "Reset_User_Password": {
                        "runAfter": {
                            "Save_Reset_Timestamp": [ "Succeeded" ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}",
                            "method": "PATCH",
                            "body": {
                                "passwordProfile": {
                                    "password": "@{outputs('Generate_Initial_Password')}",
                                    "forceChangePasswordNextSignIn": true
                                }
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [ "inputs", "outputs" ]
                            }
                        }
                    },
                    "Send_Password_To_Manager": {
                        "runAfter": {
                            "Reset_User_Password": [ "Succeeded" ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/users/governance@epicalgroup.com/sendMail",
                            "method": "POST",
                            "headers": { "Content-Type": "application/json" },
                            "body": {
                                "message": {
                                    "subject": "Temporary password \u2013 @{triggerBody()?['data']?['subject']?['displayName']}",
                                    "body": {
                                        "contentType": "HTML",
                                        "content": "<p>Hi @{triggerBody()?['data']?['subject']?['manager']?['displayName']},</p><p>A temporary password has been set up for <strong>@{triggerBody()?['data']?['subject']?['displayName']}</strong>.</p><p><strong>@{outputs('Generate_Initial_Password')}</strong></p><p>They will be prompted to change it when they first log in. Please make sure they are aware of this.</p><p>If they have not logged in and changed their password within 5 days, the account will be automatically reset for security reasons and you will receive a follow-up email with next steps.</p><p>If anything is not working as expected, please contact IT.</p><p>Best regards,<br>IT</p>"
                                    },
                                    "toRecipients": [
                                        {
                                            "emailAddress": {
                                                "address": "@{triggerBody()?['data']?['subject']?['manager']?['email']}"
                                            }
                                        }
                                    ]
                                }
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        }
                    },
                    "Wait_For_Login_Period": {
                        "runAfter": {
                            "Send_Password_To_Manager": [ "Succeeded" ]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 5,
                                "unit": "Day"
                            }
                        }
                    },
                    "Get_User_Sign_In_Status": {
                        "runAfter": {
                            "Wait_For_Login_Period": [ "Succeeded" ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}?$select=signInActivity,lastPasswordChangeDateTime,passwordProfile",
                            "method": "GET",
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        }
                    },
                    "Check_Password_Changed_And_Signed_In": {
                        "runAfter": {
                            "Get_User_Sign_In_Status": [ "Succeeded" ]
                        },
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_User_Sign_In_Status')?['signInActivity']?['lastSignInDateTime']",
                                            null
                                        ]
                                    }
                                },
                                {
                                    "equals": [
                                        "@body('Get_User_Sign_In_Status')?['passwordProfile']?['forceChangePasswordNextSignIn']",
                                        false
                                    ]
                                }
                            ]
                        },
                        "actions": {},
                        "else": {
                            "actions": {
                                "Generate_Expiry_Password": {
                                    "type": "Compose",
                                    "inputs": "@concat(toUpper(substring(guid(),0,1)),substring(guid(),1,5),'!',string(rand(10,99)),substring(guid(),6,3))",
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [ "inputs" ]
                                        }
                                    }
                                },
                                "Reset_Expired_Password": {
                                    "runAfter": {
                                        "Generate_Expiry_Password": [ "Succeeded" ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}",
                                        "method": "PATCH",
                                        "body": {
                                            "passwordProfile": {
                                                "password": "@{outputs('Generate_Expiry_Password')}",
                                                "forceChangePasswordNextSignIn": true
                                            }
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [ "inputs", "outputs" ]
                                        }
                                    }
                                },
                                "Notify_Manager_Contact_ServiceDesk": {
                                    "runAfter": {
                                        "Reset_Expired_Password": [ "Succeeded" ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://graph.microsoft.com/v1.0/users/governance@epicalgroup.com/sendMail",
                                        "method": "POST",
                                        "headers": { "Content-Type": "application/json" },
                                        "body": {
                                            "message": {
                                                "subject": "Action required \u2013 temporary password expired for @{triggerBody()?['data']?['subject']?['displayName']}",
                                                "body": {
                                                    "contentType": "HTML",
                                                    "content": "<p>Hi @{triggerBody()?['data']?['subject']?['manager']?['displayName']},</p><p><strong>@{triggerBody()?['data']?['subject']?['displayName']}</strong> has not logged in or changed their password since their start date. The temporary password has been invalidated and the account has been reset for security reasons.</p><p>To get back in, they need to contact IT \u2014 they will sort it out quickly.</p><p>If there is a reason they could not log in, please let us know and we can take a look.</p><p>Best regards,<br>IT</p>"
                                                },
                                                "toRecipients": [
                                                    {
                                                        "emailAddress": {
                                                            "address": "@{triggerBody()?['data']?['subject']?['manager']?['email']}"
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "audience": "https://graph.microsoft.com"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Generate_Offboarding_Password": {
                            "type": "Compose",
                            "inputs": "@concat(toUpper(substring(guid(),0,1)),substring(guid(),1,5),'!',string(rand(10,99)),substring(guid(),6,3))",
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [ "inputs" ]
                                }
                            }
                        },
                        "Reset_Offboarding_Password": {
                            "type": "Http",
                            "runAfter": {
                                "Generate_Offboarding_Password": [ "Succeeded" ]
                            },
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}",
                                "method": "PATCH",
                                "body": {
                                    "passwordProfile": {
                                        "password": "@{outputs('Generate_Offboarding_Password')}",
                                        "forceChangePasswordNextSignIn": true
                                    }
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://graph.microsoft.com"
                                }
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [ "inputs", "outputs" ]
                                }
                            }
                        },
                        "Revoke_Sign_In_Sessions": {
                            "type": "Http",
                            "runAfter": {
                                "Reset_Offboarding_Password": [ "Succeeded" ]
                            },
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}/revokeSignInSessions",
                                "method": "POST",
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://graph.microsoft.com"
                                }
                            }
                        }
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}